@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --base-text-color: #eee;
}

ul,
li,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--base-text-color);
}
i.fas {
  color: #b0bec5;
  font-size: 1rem;
}

header {
  background-color: #212121;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 0.9rem;
}

.navbar__logo {
  color: #d32f2f;
  font-size: 19px;
}

.navbar__logo span {
  color: var(--base-text-color);
  font-weight: bold;
  padding-left: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.content__video {
  width: 100%;
  padding: 0.9rem 0;
}

.content__video iframe {
  width: 100%;
}

.content__info__tags {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  padding-bottom: 0.2rem;
}

.content__info__tags li a {
  font-size: 0.79rem;
  color: #2196f3;
}

.content__info__tit {
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
}

.content__info__views {
  padding-bottom: 0.5rem;
}

.content__info__actions {
  display: flex;
  padding-bottom: 0.2rem;
}

.content__info__actions li {
  width: calc(100% / 5);
  text-align: center;
}

.content__info__actions li:hover a i {
  color: #1e88e5;
}

.content__youtuber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-top: solid 1px #ededed;
  border-bottom: solid 1px #ededed;
}

.content__youtuber__img img {
  width: 50px;
  border-radius: 50px;
}

.content__youtuber__info {
  width: 80%;
  padding: 0 0.5rem;
}

.content__youtuber__subs {
  width: 20%;
  text-align: right;
  font-weight: bold;
  color: #b0bec5;
}

.content__next {
  display: flex;
  flex-direction: column;
}

.content__next li {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}

.content__next li .content__next__thumb i {
  font-size: 100px;
  padding: 0;
  border: solid 1px #bcbcbc;
  border-radius: 4px;
}

.content__next li .content__next__tit-wrap {
  width: 100%;
  padding: 0 0.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    border: solid 5px #ff8a80;
  }
}
